
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@font-face {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


html, body {
  margin: 5%;
  padding: 0;
  height: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #000022;
  color: #f3f3f4;
}

h1 {
  padding: 10px;
}

h3 {
  padding: 20px;
}

p {
  padding: 10px;
}

img {
  padding: 30px;
  width: 60%;
}

a {
  color: #d9c5b2;
  text-decoration-style: wavy;
}

div.sketch-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
